{
  "include": [
    "src/**/*.ts",
    "www/**/*.ts?(x)"
  ],
  "exclude": [
    "**/*.test.ts?(x)",
    "src/index.ts",
    "www/index.tsx",
    "**/_*"
  ],
  "extension": [
    ".ts",
    ".tsx"
  ],
  "require": [
    "ts-node/register",
    "ignore-styles"
  ],
  "all": true
}